// Import fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:800');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:700');

// header styles
.instructions {
  text-align: center;
  font-family: 'Nunito';
  img {
    width: 70px;
    margin-top: 15px;
  }
  color: #262626;
  h2 {
    font-size: 1.5em;
    margin-top: 5px;
  }
  a, a:visited {
    color: #60c7ae;
    transition: 0.2s;
    &:hover {
      text-decoration: none;
      color: #489886;
      transition: 0.2s;
    }
  }
}

// Computer styles
.outer {
  height: 430px;
  width: 900px;
  margin: 0 auto;
  border: 45px solid #262626;
  border-radius: 40px;
  margin-top: 20px;
  .inner {
    background-color: #eaeaea;
    height: 100%;
    padding-top: 20px;
    .window-label {
      height: 25px;
      width: 80%;
      margin: 0 auto;
      background-color: #60c7ae;
      padding-left: 10px;
      border-radius: 2px;
      z-index: 100;
      position: relative;
      .button {
        font-family: 'Nunito', sans-serif;
        height: 15px;
        width: 15px;
        font-size: 12px;
        line-height: 15px;
        border-radius: 50%;
        display: inline-flex;
        color: #f6fefe;
        margin: 0 2px;
        transition: 0.2s;
        background-color: #489886;
        p {
          margin: 0 auto;
          opacity: 0;
        }
        &:hover {
          p {
            opacity: 1;
            transition: 0.2s;
          }
        }
      }
    }
    // terminal window styles
    .window {
      width: 79.8%;
      min-height: 250px;
      background-color: #fff;
      border-top: none;
      border-radius: 5px;
      margin: 0 auto;
      z-index: 1;
      position: relative;
      font-family: 'Overpass Mono', monospace;
      letter-spacing: 1px;
      padding: 5px 10px;
      // form styles
      // display signup first by default
      #signin {
        display: none;
      }
      form {
        // caret styles
        .caret {
          display: inline-block;
          height: 1.2em;
          width: 0.7em;
          margin-top: -4px;
          vertical-align: middle;
          background-color: #262626;
          visibility: hidden;
        }
        .caret-1, .caret-7 {
          visibility: visible;
        }

        .transparent {
          opacity: 0;
        }
        label {
          font-weight: normal;
          visibility: hidden;
        }
        .first-label {
          visibility: visible;
        }
        input {
          border: none;
          caret-color: transparent;
          &:focus {
            outline: none;
          }
        }
        // get rid of automatic Chrome autofill background
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset;
        }
      }
    }
  }
}

// monitor base styles
.trapezoid {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 0;
  border: 40px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 70px solid #848484;
  margin: 0 auto;
}

// monitor base styles
.rectangle {
  width: 320px;
  height: 0;
  border: 15px solid #262626;
  border-radius: 2px;
  margin: 0 auto;
}

// welcome page styles
.welcome {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  margin-top: 120px;
  img {
    width: 120px;
  }
}

// *************
// Media queries
// *************

// larger screens
@media (min-width: 1600px) and (min-height: 1000px) {
  .instructions {
    img {
      margin-top: 60px;
      width: 90px;
    }
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .outer {
    width: 1100px;
    height: 500px;
  }
}

@media (min-width: 1850px) and (min-height: 1150px) {
  .instructions {
    img {
      margin-top: 80px;
      width: 110px;
    }
  }
  .outer {
    width: 1300px;
    height: 600px;
  }
}

@media (min-width: 2400px) and (min-height: 1400px) {
  .instructions {
    img {
      margin-top: 100px;
      width: 150px;
    }
    h2 {
      font-size: 2.5em;
    }
    p {
      font-size: 2em;
    }
  }
  .outer {
    width: 1800px;
    height: 800px;
    .inner {
      padding-top: 100px;
      .window {
        min-height: 400px;
        form {
          label, input {
            font-size: 2em;
          }
          .caret {
            height: 2em;
            width: 1em;
          }
        }
      }
    }
  }
}

// smaller screens
@media (max-width: 1000px) {
  .outer {
    height: 420px;
    width: 800px;
  }
}

@media (max-width: 850px) {
  .outer {
    height: 390px;
    width: 700px;
    .inner {
      .window {
        min-height: 200px;
      }
    }
  }
}

@media (max-width: 740px) {
  .outer {
    height: 370px;
    width: 600px;
  }
}

// hide computer and only have window for smaller screens
@media (max-width: 635px) {
  body {
    background-color: #eaeaea;
  }
  .outer {
    border: none;
    width: 100%;
    .inner {
      .window-label {
        width: 95%;
      }
      .window {
        width: 95%;
      }
    }
  }
  .rectangle, .trapezoid {
    display: none;
  }
}

// height media queries
@media (max-height: 700px) and (min-width: 1000px) {
  .instructions {
    img {
      width: 40px;
    }
  }
  .outer {
    height: 350px;
    width: 650px;
    .inner {
      .window {
        min-height: 190px;
      }
    }
  }
}
