// Import fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:800');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:700');

.instructions {
  text-align: center;
  font-family: 'Nunito';
  // img {
  //   width: 90px;
  //   margin-top: 40px;
  // }
  // h1 {
  //   font-size: 1.8em;
  // }
  color: #262626;
  h2 {
    font-size: 1.5em;
  }
  a, a:visited {
    color: #60c7ae;
    transition: 0.2s;
    &:hover {
      text-decoration: none;
      color: #489886;
      transition: 0.2s;
    }
  }
}

// Computer styles
.outer {
  height: 450px;
  width: 900px;
  margin: 0 auto;
  border: 45px solid #262626;
  border-radius: 40px;
  margin-top: 20px;
  .inner {
    background-color: #eaeaea;
    height: 100%;
    padding-top: 20px;
    .window-label {
      height: 25px;
      width: 80%;
      margin: 0 auto;
      background-color: #60c7ae;
      padding-left: 10px;
      border-radius: 2px;
      z-index: 100;
      position: relative;
      .close-button, .minimize-button, .maximize-button {
        font-family: 'Nunito', sans-serif;
        height: 15px;
        width: 15px;
        font-size: 12px;
        line-height: 15px;
        border-radius: 50%;
        display: inline-flex;
        color: #f6fefe;
        margin: 0 2px;
        transition: 0.2s;
        p {
          margin: 0 auto;
          opacity: 0;
        }
        &:hover {
          p {
            opacity: 1;
            transition: 0.2s;
          }
        }
      }
      .close-button {
        // background-color: #eb5d61;
        background-color: #489886;
      }
      .minimize-button {
        // background-color: #f9f347;
        background-color: #489886;
      }
      .maximize-button {
        // background-color: #71ca67;
        background-color: #489886;
      }
    }
    .window {
      width: 79.8%;
      min-height: 250px;
      // border: 3px solid #262626;
      background-color: #fff;
      border-top: none;
      border-radius: 5px;
      margin: 0 auto;
      z-index: 1;
      position: relative;
      font-family: 'Overpass Mono', monospace;
      letter-spacing: 1px;
      padding: 5px 10px;
      form {
        label {
          font-weight: normal;
          visibility: hidden;
        }
        .first-label {
          visibility: visible;
        }
        // input:-webkit-autofill {
        //   background-color: transparent !important;
        // }
        input {
          border: none;
          // caret-color: transparent;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

#signin {
  display: none;
}


// visibility class to be added with jQuery to show next line in the terminal
// .visible {
//   visibility: visible;
// }

// get rid of automatic Chrome autofill background
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}


.trapezoid {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 0;
  border: 40px solid rgba(0,0,0,0);
  border-top: 0 solid;
  // border-bottom: 70px solid #60c7ae;
  border-bottom: 70px solid #848484;
  margin: 0 auto;
}

.rectangle {
  width: 320px;
  height: 0;
  border: 15px solid #262626;
  border-radius: 2px;
  margin: 0 auto;
}
